[submodule "leatherman"]
	path = leatherman
	url = https://github.com/scottidler/leatherman
	branch = master
[submodule "repos/leatherman"]
	path = repos/leatherman
	url = https://github.com/scottidler/leatherman
	branch = master
[submodule "repos/doit"]
	path = repos/doit
	url = https://git@github.com/pydoit/doit
